certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
python-dotenv==1.1.0
requests==2.32.3
urllib3==2.3.0
Django==4.2.0
djangorestframework==3.14.0
django-cors-headers==4.0.0
gunicorn==20.1.0
dj-database-url==1.3.0
psycopg2-binary==2.9.6
whitenoise==6.4.0
djangorestframework-simplejwt==5.2.2
Pillow==9.5.0  # For image processing
django-filter==23.2  # For filtering in DRF
markdown==3.4.3  # For DRF browsable API
